<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Emp name:</strong>
  <%= @employee.emp_name %>
</p>

<p>
  <strong>Emp birthdate:</strong>
  <%= @employee.emp_birthdate %>
</p>

<p>
  <strong>Emp religion:</strong>
  <%= @employee.emp_religion %>
</p>

<p>
  <strong>Emp orihire:</strong>
  <%= @employee.emp_orihire %>
</p>

<p>
  <strong>Emp hire:</strong>
  <%= @employee.emp_hire %>
</p>

<p>
  <strong>Emp resign:</strong>
  <%= @employee.emp_resign %>
</p>

<p>
  <strong>Emp maritaldate:</strong>
  <%= @employee.emp_maritaldate %>
</p>

<p>
  <strong>Emp compid:</strong>
  <%= @employee.emp_compid %>
</p>

<p>
  <strong>Emp email:</strong>
  <%= @employee.emp_email %>
</p>

<p>
  <strong>Emp gender:</strong>
  <%= @employee.emp_gender %>
</p>

<p>
  <strong>Emp marital:</strong>
  <%= @employee.emp_marital %>
</p>

<p>
  <strong>Emp bank:</strong>
  <%= @employee.emp_bank %>
</p>

<p>
  <strong>Emp accbank:</strong>
  <%= @employee.emp_accbank %>
</p>

<p>
  <strong>Emp accholder:</strong>
  <%= @employee.emp_accholder %>
</p>

<p>
  <strong>Emp npwp:</strong>
  <%= @employee.emp_npwp %>
</p>

<p>
  <strong>Emp ktp:</strong>
  <%= @employee.emp_ktp %>
</p>

<p>
  <strong>Emp bpjstku:</strong>
  <%= @employee.emp_bpjstku %>
</p>

<p>
  <strong>Emp bpjskes:</strong>
  <%= @employee.emp_bpjskes %>
</p>

<p>
  <strong>Job name:</strong>
  <%= @employee.job_name %>
</p>

<p>
  <strong>Lev name:</strong>
  <%= @employee.lev_name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @employee.branch_name %>
</p>

<p>
  <strong>Emp mobile:</strong>
  <%= @employee.emp_mobile %>
</p>

<p>
  <strong>Emp orgid1:</strong>
  <%= @employee.emp_orgid1 %>
</p>

<p>
  <strong>Emp orgid4:</strong>
  <%= @employee.emp_orgid4 %>
</p>

<p>
  <strong>Emp pp:</strong>
  <%= @employee.emp_pp %>
</p>

<p>
  <strong>Emp linemgr:</strong>
  <%= @employee.emp_linemgr %>
</p>

<p>
  <strong>Emp mgremail:</strong>
  <%= @employee.emp_mgremail %>
</p>

<p>
  <strong>Emp status:</strong>
  <%= @employee.emp_status %>
</p>

<p>
  <strong>Emp famcard:</strong>
  <%= @employee.emp_famcard %>
</p>

<p>
  <strong>Emp nationality:</strong>
  <%= @employee.emp_nationality %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
