<div class="column is-2 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        Main Menu
                    </p>
                    <ul class="menu-list">
                        <% if current_user.role == 'Admin' %>
                            <li><a><%= link_to "User", users_url %></a></li>
                        <% elsif current_user.role == 'Service' %>
                        <% elsif current_user.role == 'Expat' %>
                        <% end %>
                        <li><a><%= link_to "Employee", employees_url %></a></li>
                        <li><a><%= link_to "Organization", organizations_url %></a></li>
                        <li><a><%= link_to "Embassy", embassies_url %></a></li>
                        <li><a><%= link_to "Company", companies_url %></a></li>
                    </ul>
                   
                </aside>
            </div>